  <button id="MainMenu" routerLink='' routerLinkActive="active">Terug</button>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Reparatie aanvragen</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <br>
  <br>
  <mat-card class="Outline">
  <div class="FormParent">
  <mat-form-field class="CategoryPicker">
    <mat-label>Kies Categorie</mat-label>
    <mat-select [(value)]="selected" required>
      <mat-option>None</mat-option>
      <mat-option value="Ramen en Deuren">Ramen & Deuren</mat-option>
      <mat-option value="Sanitair">Sanitair</mat-option>
      <mat-option value="Verwarming">Verwarming</mat-option>
      <mat-option value="Voorzieningen">Voorzieningen</mat-option>
      <mat-option value="Keuken">Keuken</mat-option>
    </mat-select>
  </mat-form-field>
    <p>Uw probleem valt in de categorie: {{selected}}</p>
    <mat-form-field>
      <input #titleticket (keyup)="0" name="TitleTicket" matInput type="text" placeholder="Titel Ticket"><br>
    </mat-form-field><br>
    <mat-form-field>
      <input #addressticket name="AddressTicket" matInput type="text" placeholder="Adres"><br>
    </mat-form-field><br>
    <mat-form-field>
      <textarea #problemdescription matInput name="ProblemDescription" placeholder="Omschrijving probleem"></textarea><br>
    </mat-form-field><br>
    <mat-checkbox>Spoed?</mat-checkbox><br>
      <div class="Overview"><br>
        <b>Overzicht:</b>
        <p>Categorie: <br> {{selected}}</p>
        <b>Titel van uw ticket:</b>
        <p>{{titleticket.value}}</p>
        <b>Bezoekadres:</b>
        <p>{{addressticket.value}}</p>
        <b>Omschrijving van het probleem:</b>
        <div id="problemdescription">
        <p>{{problemdescription.value}}</p>
        </div>
        <p>€0,00</p>
          <button (click)="openDialog()" class="Confirm" type="submit">Bevestig</button>
      </div>
    </div>
</mat-card>
