<button id="MainMenu" routerLink='' routerLinkActive="active">Terug</button>
<mat-toolbar>
  <mat-toolbar-row>
    <span class="span">Doe-het-zelfinstructies</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-accordion>
  <p *ngFor="let tip of DIYtips">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tip #{{tip.ID}}
        </mat-panel-title>
        <mat-panel-description>
          {{tip.tiptitle}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let step of tip.tipcontent">
      {{step}}
      </div>
    </mat-expansion-panel>
  </p>
</mat-accordion>
