<button id="MainMenu" routerLink='' routerLinkActive="active">Terug</button>
<mat-toolbar>
  <mat-toolbar-row>
    <span>Mijn profiel</span>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<mat-card>
<img class="profilepicture" src="../../assets/small_default_profile.png" mat-card-image>
  <br>
  <h2 class="details"><b>Gegevens</b></h2>
  <div class="customerdata">
    <p>Naam: John Doe</p>
    <p>Adres:Testlaan 14</p>
    <p>Woonplaats: Friesland</p>
    <p>Telefoonnummer: 06-12345678</p>
  </div>
</mat-card>
