<div class="greeting__container">
  <img routerLink="/profile" routerLinkActive="active" class="profilepicdefault" src="./assets/small_default_profile.png" mat-card-image>
    <div class="greeting">
    <h1>Welkom bij klusplus <img class="icon" src="./assets/hamer.png"> </h1>
  </div>
  <button routerLink='/request-reparation' routerLinkActive="active" id="Reparation" mat-raised-button>Reparatie aanvragen</button><br>
  <button routerLink='/do-it-yourself' routerLinkActive="active" id="DIY" mat-raised-button>Doe-het-zelftips</button><br>
  <button (click) = toggleDisplay() id="Active" mat-raised-button>Actieve reparaties</button>
  <br>
  <div *ngIf = !isShow>
    <div class="activereparations__container">
      <div class="activereparations">
        <mat-toolbar>
          <mat-toolbar-row>
          <span class="span">Actieve reparaties</span>
          </mat-toolbar-row>
        </mat-toolbar>
          <div *ngFor="let appointment of appointments; index as appointmentTitle">
            <mat-card id="ActiveReparationTile">
              <h3>
                {{appointment.title}}
              </h3>
              <h4>
                {{appointment.description}}
              </h4>
              <mat-button-toggle>
                <a class="DetailsButton" [title]="appointment.title" [routerLink]="['/details', appointmentTitle]">Details afspraak</a>
              </mat-button-toggle>
            </mat-card>
            <br>
          </div>
      </div>
    </div>
    <div class="closedreparations">
      <mat-toolbar>
        <mat-toolbar-row>
        <span class="span">Afgesloten reparaties</span>
        </mat-toolbar-row>
      </mat-toolbar>
    <div *ngFor="let appointment of closedappointments">
      <mat-card id="ClosedReparationTile">
        <h3>
          {{appointment.title}}
        </h3>
        <h4>
          {{appointment.description}}
        </h4>
      </mat-card>
      <br>
    </div>
  </div>
  </div>
  </div>
