.greeting__container{
  border: 1px solid black;


  .profilepicdefault{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
  }

}
.greeting{
  text-align: center;
}

.outline{
  width: 112px;
  height: 47px;
  border-bottom: 1px solid black;
  position: absolute;
}

#Reparation{
  width: 25vw;
  border-radius: 25px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

#DIY{
  width: 25vw;
  border-radius: 25px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#Active{
  width: 25vw;
  border-radius: 25px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

  .activereparations{
    text-align: center
}

  .closedreparations{
    text-align: center;
  }

  .span{
    margin: auto;
  }

#ActiveReparationTile{
  margin-right: auto;
  margin-left: auto;
  word-wrap: break-word;
}

#ClosedReparationTile{
  margin-right: auto;
  margin-left: auto;
  word-wrap: break-word;
}

.DetailsButton{
  text-decoration: none;
  color: black;
}

.icon{
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 600px){
  #ActiveReparationTile{
    width: 90vw;
  }

  #Reparation{
    width: 50vw;
  }

  #Active{
    width: 50vw;
  }

}


